div.star-active
{
	cursor: pointer;
}

div.star-empty
{
	background-image: url(images/big-star-off.png);
	width:28px;
	height:27px;
	overflow:hidden;
	margin-right:5px;
}

div.star-voted
{
	background-image: url(images/big-star-on.png);
	width:28px;
	height:27px;
	overflow:hidden;
	margin-right:5px;
}

div.star-over
{
	background-image: url(images/big-star-on.png);
	width:28px;
	height:27px;
	overflow:hidden;
	margin-right:5px;
}
